<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tutorial: Hello Dojo!</title>
</head>
<script src="/dojoConfigLesson/dojoConfig.js"></script>
<script src="dojo/dojo.js"></script>
<script>
//require the registry, parser, dialog, and wait for domready
require(["dijit/registry", "dojo/parser", "dojo/json", "dojo/_base/config", "dijit/Dialog", "dojo/domReady!"],
function(registry, parser, JSON, config){
    //explicitly parse the page
    parser.parse();

    //find the dialog
    var dialog = registry.byId("dialog");
    //set the content equal to what dojo.config is
    dialog.set("content", "<pre>" + JSON.stringify(config, null, "\t")+ "```");
    dialog.show();
});

</script>
<body>
    <div id="dialog" data-dojo-type="dijit/Dialog" data-dojo-props="title: 'dojoConfig/dojo/_base/config'"></div>
</body>
</html>

